html {
  direction: ltr;
  height: 100%;
  font-size: 81.25%;
}
html,
body {
  overflow-x: hidden;
  height: 100%;
  font-style: normal;
  font-size: 14px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  min-width: 600px;
}
.halfWidth {
  width: 50%;
}

.fullWidth {
  width: 100%;
}

.fullHeight {
  height: 100%;
}

.halfHeight {
  height: 50%;
}
.text-align-center {
  text-align: center;
}
.topnavbar {
  background-color: #343538;
  border-radius: 0;
  z-index: 78;
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: none;
  color: #c2c3c6;
}

.topnavbar a {
  color: #c2c3c6 !important;
}

.sidenav {
  width: 45px;
  position: absolute;
  z-index: 1;
  top: 20;
  left: 0;
  background-color: #343a40;
  transition: 0.5s;
  height: calc(100% - 40px);
  overflow-x: hidden;
}

.sidenav ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.sidenav a {
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: lighter;
  color: #c2c3c6;
  display: flex;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ffffff;
}
.sidenav a span {
  vertical-align: middle;
  margin-left: 15px;
  font-size: 1.2rem;
  font-weight: 400;
}

.sidenav .closebtn {
  position: absolute;
  top: 0px;
  left: 120px;
  font-size: 36px;
  margin-left: 25px;
  color: #c2c3c6;
}
.sidenav .closebtn i {
  color: #c2c3c6;
}
.sidebar-expand-collapse {
  margin-left: 40px !important;
  vertical-align: text-top !important;
}

#sidebar-second-level a {
  padding: 0 0 0 60px !important;
  background-color: transparent !important;
}
.main-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
section.mainSection {
  margin-left: 45px;
  width: calc(100% - 45px);
  position: relative;
  height: calc(100% - 50px);
  overflow: hidden;
  z-index: 11;
}

.side-nav-collapsed .mainSection {
  margin-left: 215px;
  width: calc(100% - 215px);
}
.headerHeight {
  width: 100%;
  height: 35px;
  border: 1px solid #e2e2e2;
}
.headerHeight .headerLayout {
  background-color: #fff;
  height: 100%;
  float: left;
}
.headerHeight .headerLayout .headerTitle {
  width: auto;
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  text-align: right;
  color: #5e6062;
  display: inline-block;
  float: left;
}
.headerHeight .headerLayout .headerTitle .bold {
  font-weight: 600;
}

.but {
  position: absolute;
  left: 60px;
}

#side {
  margin-top: 30px !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
}
._hide {
  display: inline;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.font-color {
  color: #c2c3c6;
}
.sidebar-second-level {
}

.dropdown-menu {
  background-color: #343a40 !important;
  padding: 1rem 0 !important;
  margin: 0.3rem 0 0 !important;
  border-radius: 0.15rem;
}
.dropdown-item {
  color: #c2c3c6 !important;
}

.analyticsDropDown {
  background-color: #343a40 !important;
  position: absolute !important;
  left: auto;
  padding: 0px !important;
  margin: 0px !important;
  border: none !important;
  border-radius: 0.15rem;
  font-size: 16px;
  font-weight: 500;
}
